{{ define "main" }}
      <div hx-sse="connect:/.sse" class="flex flex-col mt-1 font-mono text-sm">
        <div hx-sse="swap:message" hx-swap="afterbegin"></div>

        {{ range .Events }}
            {{template "row.html" . }}
        {{ else }}
          <div class="py-2">There are currently no events in your database.</div>
        {{ end }}
      </div>
    </div>

    <div class="flex justify-center">
      <span class="text-gray-500 text-xs font-mono border p-1">
        curl http://tevents/.log?origin=networkwatcher -d &quot;example
        event&quot;</span
      >
    </div>
{{ end }}
