{{ define "main" }}
<div class="flex flex-col mt-1 font-mono text-sm">
    {{ range $key, $value := .EventGroups }}
      <div
        class="flex justify-between flex-col sm:flex-row px-2 space-x-0 sm:space-x-5 border-b border-gray-100 py-1"
      >
        <div class="text-gray-500">{{ $key }}</div>
        <div class="text-gray-500 flex space-x-1">
            {{ range $value }}
                {{ if . }}
                    <div class="w-2 h-7 bg-green-600 rounded"></div>
                {{ else }}
                    <div class="w-2 h-7 bg-gray-400 rounded"></div>
                {{ end }}
            {{ end }}
        </div>
      </div>
    {{ end }}
  </div>

  <div class="text-gray-500 text-xs font-mono text-center pt-3">
      {{ .LastHours }} hours displayed
  </div>
</div>

<div class="flex flex-row justify-center">
  <div class="text-gray-500 text-xs font-mono border p-1">
    curl -X POST http://tevents/.monitor?origin=cron:example</div
  >
</div>
{{ end }}
